#xmedia-browser {
  display: block;
}

#xmedia-browser #browser-tabs {
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #E0E0D8;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

#xmedia-ui-library-list-wrapper {
  padding-bottom: 4em;
}

#xmedia-ui-library-list-wrapper .views-field-title {
  font-size: 0.85em;
  padding-bottom: 0.2em;
}

#xmedia-browser #browser-tabs ul {
  float: left;
  margin: 0 5px;
}

#xmedia-browser #browser-content {
  margin-top: 50px;
  padding: 0 10px;
}

.xmedia-ui-items {

}

.xmedia-ui-items > .fieldset-wrapper {
  padding: 0px;
}

.xmedia-ui-items .xmedia-ui-item {
  float: left;
  margin: 0px 15px 15px 15px;
}

.xmedia-ui-items .xmedia-ui-item-image {
}

.xmedia-ui-items .xmedia-ui-item-title {
}

.xmedia-ui-items .xmedia-ui-item-alternate {
}

.xmedia-ui-items .xmedia-ui-item-caption {
}

.xmedia-ui-items .xmedia-ui-item-description {
}

.xmedia-ui-items .xmedia-ui-buttons {
  border: 0px;
  clear: both;
}

.xmedia-selectable {
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.xmedia-selectable:hover,
.xmedia-selectable:focus {
  background-color: #F0F0F0;
}

.xmedia-selectable.xmedia-selected {
  background-color: #E4F2BF;
}

.hidden {
  display: none;
}

.sticky-header {
  z-index: 410;
}

.field-name-xmedia-image {
  display: none;
}

#xmedia-ui-library .field-name-xmedia-image {
  display: inline-block !important;
}

.xmedia-add-more-button {
  display: none;
}

.xmedia-browser-modal {
  display: inline-block;
  margin-top: 10px;
}

.xmedia-placeholder {
  display: block;
  background-color: #E4F2BF;
  padding: 5px;
}

.jcrop-attribute {
  display: none;
}

.xmedia-image-info {
  /*float: left;*/
  margin-right: 10px;
}

.xmedia-remove .form-type-checkbox {
  background: url(../images/remove.png) no-repeat;
  margin-left: 20px !important;
  margin-top: 3px !important;
  width: 16px;
  height: 16px;
}

.xmedia-remove .xmedia-restore {
  background: url(../images/restore.png) no-repeat !important;
}

.xmedia-remove-hidden .form-type-checkbox {
  display: none;
}

.xmedia-remove .form-type-checkbox input {
  display: none;
  margin-bottom: 10px;
}

.xmedia-selectable .views-field-xmedia-image {
  padding-right: 10px;
}

#xmedia-browser .item-list {
  position: fixed;
  z-index: 110;
  bottom: 0;
  width: 97%;
  height: 50px;
  background-color: transparent;
  text-align: center;
}
#xmedia-browser .item-list ul {
  margin: 15px 0;
}

#xmedia-browser .item-list {
  background-color: #F7F3F2;
}

#xmedia-cancel-images,
#xmedia-add-images {
  position: fixed;
  z-index: 120;
  bottom: 0;
  margin: 0 0 10px 10px;
}
#xmedia-cancel-images {
  left: 140px;
}

