.green {
    color: #009113;
}

.red {
    color: #ff0000;
}

.form-type-item {
    clear: both;
}

.form-type-textfield {
    float: left;
    margin: 0px 15px 0px 0px !important;
    padding: 5px 0px !important;
}

.jcrop-tracker {
    z-index: 10 !important;
}

#xmedia-ui-insert-form fieldset {
  margin: 0;
}

#xmedia-ui-insert-form #edit-image-info {
  float: left;
  width: 120px;
  margin-right: 10px;
}